<section class="container">
  <div class="row">
    <div class="col">
      <img src="/images/login2.png" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col p-5 text-white rounded-5 login-box m-5">
      <h2 class="myh2">Create Account</h2>
      <div class="google-login">
        <a href="/auth/google" class="btn btn-outline-primary me-2 login-btn fw-bold rounded-pill px-5 py-2 gg-btn mb-3">
          <img src="/images/google.svg" alt=""> Sign Up with Google</a>
      </div>
    </div>
  </div>
</section>
