<section class="container mb-2">
  <div class="d-flex justify-content-center align-items-center">
    <div class="flex-row">
      <h1 class="p-2 my-3 lh-base ">Welcome to MemoMaster</h1>
      <p class="p-2 h2 mb-5 lh-base">A super easy way to take notes and <br /> stay organized!</p>
      <a href="/auth/google" class="p-2 btn px-10 fw-bold mb-4 lh-base rounded-pill px-4 signup-btn" id="start-btn">Give a
        try!</a>
    </div>
    <div class="flex-row ">
      <img src="/images/3d-notebook.png" alt="hero-image" class="img-fluid img-hero flex-fill ml-1 align-items-center" id="hero-img">
    </div>
  </div>
</section>