<section class="container">
  <div class="row align-items-center">
    <div class="col">
      <img src="/images/create2.png" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col">
      <div class="row">
        <h1 class="col p-2 my-3 lh-base ">Hello, <%= userName %>
        </h1>
        <div class="col-10"></div>
      </div>
      <div class="row">
        <a href="/new-note" class="col p-3 px-5 btn px-10 fw-bold mb-4 lh-base rounded-pill px-4 signup-btn">&#43; Create New Note
        </a>
        <div class="col-10"></div>
      </div>
      <div class="row">
        <a href="/notes" class="col p-3 px-5 btn px-10 fw-bold mb-4 lh-base rounded-pill px-4 signup-btn">View notes
        </a>
        <div class="col-10"></div>
      </div>
    </div>
  </div>
</section>