<header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom container">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none fw-bold ">
        <img src="/images/book-logo.svg" alt="logo">
        MemoMaster
    </a>

    <form class="form-inline" role="search" method="POST" action="/search">
        <input type="search" name="searchTerm" class="search-input p-2 px-5 rounded-5" placeholder="Search..." aria-label="Search">
      </form>

    <div class="col-md-3 text-end">
        <a href="/logout" class="btn btn-primary signup-btn fw-bold rounded-pill px-3">Logout</a>
    </div>
</header>